asttokens==2.4.1
decorator==5.1.1
executing==2.1.0
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
jsonpickle==3.3.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
networkx==3.3
numpy==2.1.1
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
PyCG==0.0.8
Pygments==2.18.0
pyvis==0.3.2
scipy==1.14.1
six==1.16.0
stack-data==0.6.3
tqdm==4.66.5
traitlets==5.14.3
wcwidth==0.2.13
